[data-animation="slide-up"].animation-init {
    opacity: 0;
    filter: blur(10px);
    transform: translateY(100%);
}

[data-animation="slide-up"].animation-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
