[data-animation="squeeze-out"].animation-init {
    opacity: 0;
    filter: blur(10px);
    transform: scale(80%);
}

[data-animation="squeeze-out"].animation-show {
    opacity: 1;
    filter: blur(0px);
    transform: scale(100%);
}
