@import "bootstrap/scss/mixins";

#hero {

}

.hero {
    background: $blue;
    min-height: calc(100vh - ($navbar-padding-y + $nav-link-padding-y + 1rem));

    &__person {
        filter: drop-shadow(0px 22px 26px rgba(0, 0, 0, 0.30));
        max-height: 70vh;
    }
}
