@import "bootstrap/scss/mixins";

.lc-component-chips {
    text-align: center;

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.4);

    padding: 8px;
}
