[data-animation="slide-right"].animation-init {
    opacity: 0;
    filter: blur(10px);
    transform: translateX(-20%);
}

[data-animation="slide-right"].animation-show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
}
